@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body{    
    background-color: hsl(217, 19%, 24%);
}

.quote-container{
    padding-left: 5rem;
    padding-right: 5rem;
    position: absolute;
    top: 29%;
    left: 28.5%;
    padding-top: 30px;
    padding-bottom: 30px;
    
    border: 2px solid hsl(228, 5%, 18%);
    border-radius: 50px;
}

#id_no{
    font-family: 'Manrope', sans-serif;
    font-size: 15px ;
    color: hsl(150, 100%, 66%);
    word-spacing: 2px;
    margin-left: 20px;
}

#quote-display{
    margin-top: 2rem;
    color: hsl(193, 38%, 86%);
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    width: 450px;
    font-size: 28px;
}

.divider{
    margin-top: 3rem;
}

.dice-icon{
    position: absolute;
    top: 65%;
    left: 47.5%;
}

.dice_icon_svg{
    cursor: pointer;
    border-radius: 50px;
}